In [2]:
import pandas as pd
import numpy as np

In [4]:
data=[[10,20],[30,40],[50,60],[70,80]]
df = pd.DataFrame(data, index=['a','b','c','d'],
                 columns=['kor','eng'] )
df

   kor  eng
a   10   20
b   30   40
c   50   60
d   70   80

In [5]:
data = [{'kor':10,'eng':20}, {'kor':30,'eng':40},
       {'kor':50,'eng':60}, {'kor':70,'eng':80}]
df = pd.DataFrame(data)
df

   eng  kor
0   20   10
1   40   30
2   60   50
3   80   70

In [6]:
data= {'kor':[10,30,50,70],'eng':[20,40,60,80]}
df = pd.DataFrame(data)
df

   kor  eng
0   10   20
1   30   40
2   50   60
3   70   80