In [1]:
# !pip install pandas_datareader       # => 인스톨 필요

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import warnings

from datetime import datetime, time, date
from pandas_datareader import data

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['font.size']=15
matplotlib.rcParams['axes.unicode_minus']=False
warnings.simplefilter('ignore')

In [3]:
d = datetime(2019,2,3, 1, 2, 3)  # time
d

datetime.datetime(2019, 2, 3, 1, 2, 3)

In [4]:
print(d.year, d.month, d.day)

2019 2 3

In [5]:
print(d.hour, d.minute, d.second)

1 2 3

In [6]:
data3 = np.random.randint(1, 10, size=(2,2))
df = pd.DataFrame(data3, index=['2019-01-01', '2019-01-02'])
df.index = pd.to_datetime(df.index)     # '2019-01-01 시:분:초' 형태의 string이면 시계열 데이터로 변환가능
df

            0  1
2019-01-01  5  2
2019-01-02  3  8

In [7]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02'], dtype='datetime64[ns]', freq=None)

In [8]:
dtindex = [datetime(2019,1,1), datetime(2019,1,2)]
data2 = np.random.randint(1, 10, size=(2,2))
df = pd.DataFrame(data2, index=dtindex)
df

            0  1
2019-01-01  5  2
2019-01-02  7  6

In [9]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02'], dtype='datetime64[ns]', freq=None)

In [10]:
data1 = np.random.randint(1, 10, size=(2,2))
df = pd.DataFrame(data1, index=['2019년1월', '2019년2월'])
# df.index = pd.to_datetime(df.index)     #  에러 발생함!
# df

In [11]:
def fni(v):
    v = v.strip('월')
    v = v[:4]+'-'+v[5:]
    print(v)
    return v

In [12]:
def fni2(v):
    v = v.replace('[년월]', '-')
    v.strip('-')
    print(v)
    return v

In [13]:
df.index.map(fni2)
df.index = pd.to_datetime(df.index.map(fni))

2019년1월
2019년2월
2019-1
2019-2

In [15]:
# LG전자 주가 보기
start_date = '2017-01-01'
df = data.get_data_yahoo('066570.KS', start_date) 
df

               High      Low     Open    Close     Volume     Adj Close
Date
2017-01-02  52300.0  51600.0  51800.0  51600.0   431474.0  50763.160156
2017-01-03  54400.0  51800.0  51800.0  54300.0  1715000.0  53419.371094
2017-01-04  54500.0  53100.0  54200.0  53800.0  1262418.0  52927.480469
2017-01-05  55700.0  53400.0  54000.0  53600.0  1428250.0  52730.722656
2017-01-06  54000.0  52400.0  53800.0  52600.0  1382362.0  51746.941406
2017-01-09  53600.0  51200.0  52300.0  53600.0  1555889.0  52730.722656
2017-01-10  53200.0  51800.0  53100.0  51800.0   956045.0  50959.914062
2017-01-11  52300.0  51200.0  51700.0  52000.0   979211.0  51156.671875
2017-01-12  53400.0  52100.0  52100.0  53300.0   795012.0  52435.589844
2017-01-13  53500.0  52500.0  53100.0  52900.0   555164.0  52042.078125
2017-01-16  53300.0  51900.0  52900.0  52800.0   681671.0  51943.699219
2017-01-17  53000.0  52300.0  52300.0  52400.0   451998.0  51550.187500
2017-01-18  53900.0  52500.0  52800.0  53700.0   938989.0  52829.101562
2017-01-19  54700.0  53300.0  53700.0  54500.0  1070070.0  53616.125000
2017-01-20  54500.0  54000.0  54400.0  54100.0   432160.0  53222.613281
2017-01-23  54500.0  53300.0  54100.0  53400.0   345819.0  52533.968750
2017-01-24  54200.0  53300.0  53300.0  54100.0   450680.0  53222.613281
2017-01-25  55400.0  53500.0  54300.0  54200.0  1121403.0  53320.992188
2017-01-26  55500.0  53200.0  55000.0  53200.0  1226161.0  52337.210938
2017-01-31  55700.0  53400.0  53500.0  55400.0  1376669.0  54501.531250
2017-02-01  58000.0  55800.0  55800.0  57900.0  2286272.0  56960.988281
2017-02-02  59400.0  57300.0  58500.0  58300.0  1824780.0  57354.500000
2017-02-03  59100.0  57400.0  58700.0  58200.0   780014.0  57256.121094
2017-02-06  59100.0  57700.0  58800.0  58600.0   852582.0  57649.636719
2017-02-07  59300.0  58200.0  58900.0  58800.0   754879.0  57846.390625
2017-02-08  60400.0  58600.0  59000.0  60400.0  1795800.0  59420.441406
2017-02-09  61900.0  60100.0  60400.0  61500.0  1352533.0  60502.601562
2017-02-10  61900.0  61200.0  61800.0  61300.0   740823.0  60305.847656
2017-02-13  62000.0  59600.0  61600.0  60700.0  1012067.0  59715.578125
2017-02-14  61600.0  60600.0  61000.0  61600.0   720671.0  60600.980469
...             ...      ...      ...      ...        ...           ...
2018-12-20  64500.0  61800.0  64500.0  62600.0  1670644.0  61834.093750
2018-12-21  62900.0  61800.0  62000.0  62400.0   829833.0  61636.539062
2018-12-24  62400.0  61200.0  62000.0  61800.0   513348.0  61043.882812
2018-12-26  61900.0  60600.0  61000.0  61300.0   453037.0  60550.000000
2018-12-27  63300.0  61700.0  62500.0  61900.0   562848.0  61900.000000
2018-12-28  63500.0  62100.0  62300.0  62300.0   464747.0  62300.000000
2019-01-02  64200.0  62700.0  63300.0  62800.0   568844.0  62800.000000
2019-01-03  64100.0  62100.0  63100.0  62900.0   604561.0  62900.000000
2019-01-04  63400.0  61100.0  63000.0  62200.0   602100.0  62200.000000
2019-01-07  64700.0  62700.0  63100.0  64200.0   660173.0  64200.000000
2019-01-08  63700.0  61200.0  63700.0  61900.0  1338626.0  61900.000000
2019-01-09  63700.0  61600.0  61700.0  63200.0   950285.0  63200.000000
2019-01-10  66000.0  62700.0  63100.0  65600.0  1065551.0  65600.000000
2019-01-11  66500.0  65200.0  65700.0  66000.0   601380.0  66000.000000
2019-01-14  66400.0  65000.0  66000.0  65900.0   401456.0  65900.000000
2019-01-15  66500.0  65300.0  65600.0  65800.0   560337.0  65800.000000
2019-01-16  67600.0  66000.0  66000.0  66500.0   565004.0  66500.000000
2019-01-17  67600.0  66000.0  66800.0  66100.0   467844.0  66100.000000
2019-01-18  67300.0  66300.0  66800.0  67000.0   488762.0  67000.000000
2019-01-21  68100.0  65800.0  67700.0  66400.0   614764.0  66400.000000
2019-01-22  66900.0  64100.0  66400.0  64500.0   997141.0  64500.000000
2019-01-23  65700.0  64300.0  64400.0  65200.0   587708.0  65200.000000
2019-01-24  65800.0  64800.0  65100.0  65200.0   620651.0  65200.000000
2019-01-25  69800.0  65200.0  65200.0  69500.0  1749374.0  69500.000000
2019-01-28  70200.0  67600.0  69600.0  67700.0   809802.0  67700.000000
2019-01-29  67400.0  66200.0  67400.0  67400.0   845170.0  67400.000000
2019-01-30  68500.0  66800.0  68000.0  67600.0   825346.0  67600.000000
2019-01-31  68400.0  66200.0  68100.0  66600.0   903199.0  66600.000000
2019-02-01  66300.0  65200.0  66300.0  65400.0  1039069.0  65400.000000
2019-04-05  76900.0  75100.0  75600.0  76600.0   491601.0  76600.000000

[509 rows x 6 columns]

In [16]:
df.index

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25',
               '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31',
               '2019-02-01', '2019-04-05'],
              dtype='datetime64[ns]', name='Date', length=509, freq=None)

In [17]:
df['2019']

               High      Low     Open    Close     Volume  Adj Close
Date
2019-01-02  64200.0  62700.0  63300.0  62800.0   568844.0    62800.0
2019-01-03  64100.0  62100.0  63100.0  62900.0   604561.0    62900.0
2019-01-04  63400.0  61100.0  63000.0  62200.0   602100.0    62200.0
2019-01-07  64700.0  62700.0  63100.0  64200.0   660173.0    64200.0
2019-01-08  63700.0  61200.0  63700.0  61900.0  1338626.0    61900.0
2019-01-09  63700.0  61600.0  61700.0  63200.0   950285.0    63200.0
2019-01-10  66000.0  62700.0  63100.0  65600.0  1065551.0    65600.0
2019-01-11  66500.0  65200.0  65700.0  66000.0   601380.0    66000.0
2019-01-14  66400.0  65000.0  66000.0  65900.0   401456.0    65900.0
2019-01-15  66500.0  65300.0  65600.0  65800.0   560337.0    65800.0
2019-01-16  67600.0  66000.0  66000.0  66500.0   565004.0    66500.0
2019-01-17  67600.0  66000.0  66800.0  66100.0   467844.0    66100.0
2019-01-18  67300.0  66300.0  66800.0  67000.0   488762.0    67000.0
2019-01-21  68100.0  65800.0  67700.0  66400.0   614764.0    66400.0
2019-01-22  66900.0  64100.0  66400.0  64500.0   997141.0    64500.0
2019-01-23  65700.0  64300.0  64400.0  65200.0   587708.0    65200.0
2019-01-24  65800.0  64800.0  65100.0  65200.0   620651.0    65200.0
2019-01-25  69800.0  65200.0  65200.0  69500.0  1749374.0    69500.0
2019-01-28  70200.0  67600.0  69600.0  67700.0   809802.0    67700.0
2019-01-29  67400.0  66200.0  67400.0  67400.0   845170.0    67400.0
2019-01-30  68500.0  66800.0  68000.0  67600.0   825346.0    67600.0
2019-01-31  68400.0  66200.0  68100.0  66600.0   903199.0    66600.0
2019-02-01  66300.0  65200.0  66300.0  65400.0  1039069.0    65400.0
2019-04-05  76900.0  75100.0  75600.0  76600.0   491601.0    76600.0

In [23]:
df[:'2017-1']

               High      Low     Open    Close     Volume     Adj Close
Date
2017-01-02  52300.0  51600.0  51800.0  51600.0   431474.0  50763.160156
2017-01-03  54400.0  51800.0  51800.0  54300.0  1715000.0  53419.371094
2017-01-04  54500.0  53100.0  54200.0  53800.0  1262418.0  52927.480469
2017-01-05  55700.0  53400.0  54000.0  53600.0  1428250.0  52730.722656
2017-01-06  54000.0  52400.0  53800.0  52600.0  1382362.0  51746.941406
2017-01-09  53600.0  51200.0  52300.0  53600.0  1555889.0  52730.722656
2017-01-10  53200.0  51800.0  53100.0  51800.0   956045.0  50959.914062
2017-01-11  52300.0  51200.0  51700.0  52000.0   979211.0  51156.671875
2017-01-12  53400.0  52100.0  52100.0  53300.0   795012.0  52435.589844
2017-01-13  53500.0  52500.0  53100.0  52900.0   555164.0  52042.078125
2017-01-16  53300.0  51900.0  52900.0  52800.0   681671.0  51943.699219
2017-01-17  53000.0  52300.0  52300.0  52400.0   451998.0  51550.187500
2017-01-18  53900.0  52500.0  52800.0  53700.0   938989.0  52829.101562
2017-01-19  54700.0  53300.0  53700.0  54500.0  1070070.0  53616.125000
2017-01-20  54500.0  54000.0  54400.0  54100.0   432160.0  53222.613281
2017-01-23  54500.0  53300.0  54100.0  53400.0   345819.0  52533.968750
2017-01-24  54200.0  53300.0  53300.0  54100.0   450680.0  53222.613281
2017-01-25  55400.0  53500.0  54300.0  54200.0  1121403.0  53320.992188
2017-01-26  55500.0  53200.0  55000.0  53200.0  1226161.0  52337.210938
2017-01-31  55700.0  53400.0  53500.0  55400.0  1376669.0  54501.531250

In [24]:
df.index.year

Int64Index([2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='Date', length=509)

In [26]:
df['month'] = df.index.month
df

               High      Low     Open    Close     Volume     Adj Close  month
Date
2017-01-02  52300.0  51600.0  51800.0  51600.0   431474.0  50763.160156      1
2017-01-03  54400.0  51800.0  51800.0  54300.0  1715000.0  53419.371094      1
2017-01-04  54500.0  53100.0  54200.0  53800.0  1262418.0  52927.480469      1
2017-01-05  55700.0  53400.0  54000.0  53600.0  1428250.0  52730.722656      1
2017-01-06  54000.0  52400.0  53800.0  52600.0  1382362.0  51746.941406      1
2017-01-09  53600.0  51200.0  52300.0  53600.0  1555889.0  52730.722656      1
2017-01-10  53200.0  51800.0  53100.0  51800.0   956045.0  50959.914062      1
2017-01-11  52300.0  51200.0  51700.0  52000.0   979211.0  51156.671875      1
2017-01-12  53400.0  52100.0  52100.0  53300.0   795012.0  52435.589844      1
2017-01-13  53500.0  52500.0  53100.0  52900.0   555164.0  52042.078125      1
2017-01-16  53300.0  51900.0  52900.0  52800.0   681671.0  51943.699219      1
2017-01-17  53000.0  52300.0  52300.0  52400.0   451998.0  51550.187500      1
2017-01-18  53900.0  52500.0  52800.0  53700.0   938989.0  52829.101562      1
2017-01-19  54700.0  53300.0  53700.0  54500.0  1070070.0  53616.125000      1
2017-01-20  54500.0  54000.0  54400.0  54100.0   432160.0  53222.613281      1
2017-01-23  54500.0  53300.0  54100.0  53400.0   345819.0  52533.968750      1
2017-01-24  54200.0  53300.0  53300.0  54100.0   450680.0  53222.613281      1
2017-01-25  55400.0  53500.0  54300.0  54200.0  1121403.0  53320.992188      1
2017-01-26  55500.0  53200.0  55000.0  53200.0  1226161.0  52337.210938      1
2017-01-31  55700.0  53400.0  53500.0  55400.0  1376669.0  54501.531250      1
2017-02-01  58000.0  55800.0  55800.0  57900.0  2286272.0  56960.988281      2
2017-02-02  59400.0  57300.0  58500.0  58300.0  1824780.0  57354.500000      2
2017-02-03  59100.0  57400.0  58700.0  58200.0   780014.0  57256.121094      2
2017-02-06  59100.0  57700.0  58800.0  58600.0   852582.0  57649.636719      2
2017-02-07  59300.0  58200.0  58900.0  58800.0   754879.0  57846.390625      2
2017-02-08  60400.0  58600.0  59000.0  60400.0  1795800.0  59420.441406      2
2017-02-09  61900.0  60100.0  60400.0  61500.0  1352533.0  60502.601562      2
2017-02-10  61900.0  61200.0  61800.0  61300.0   740823.0  60305.847656      2
2017-02-13  62000.0  59600.0  61600.0  60700.0  1012067.0  59715.578125      2
2017-02-14  61600.0  60600.0  61000.0  61600.0   720671.0  60600.980469      2
...             ...      ...      ...      ...        ...           ...    ...
2018-12-20  64500.0  61800.0  64500.0  62600.0  1670644.0  61834.093750     12
2018-12-21  62900.0  61800.0  62000.0  62400.0   829833.0  61636.539062     12
2018-12-24  62400.0  61200.0  62000.0  61800.0   513348.0  61043.882812     12
2018-12-26  61900.0  60600.0  61000.0  61300.0   453037.0  60550.000000     12
2018-12-27  63300.0  61700.0  62500.0  61900.0   562848.0  61900.000000     12
2018-12-28  63500.0  62100.0  62300.0  62300.0   464747.0  62300.000000     12
2019-01-02  64200.0  62700.0  63300.0  62800.0   568844.0  62800.000000      1
2019-01-03  64100.0  62100.0  63100.0  62900.0   604561.0  62900.000000      1
2019-01-04  63400.0  61100.0  63000.0  62200.0   602100.0  62200.000000      1
2019-01-07  64700.0  62700.0  63100.0  64200.0   660173.0  64200.000000      1
2019-01-08  63700.0  61200.0  63700.0  61900.0  1338626.0  61900.000000      1
2019-01-09  63700.0  61600.0  61700.0  63200.0   950285.0  63200.000000      1
2019-01-10  66000.0  62700.0  63100.0  65600.0  1065551.0  65600.000000      1
2019-01-11  66500.0  65200.0  65700.0  66000.0   601380.0  66000.000000      1
2019-01-14  66400.0  65000.0  66000.0  65900.0   401456.0  65900.000000      1
2019-01-15  66500.0  65300.0  65600.0  65800.0   560337.0  65800.000000      1
2019-01-16  67600.0  66000.0  66000.0  66500.0   565004.0  66500.000000      1
2019-01-17  67600.0  66000.0  66800.0  66100.0   467844.0  66100.000000      1
2019-01-18  67300.0  66300.0  66800.0  67000.0   488762.0  67000.000000      1
2019-01-21  68100.0  65800.0  67700.0  66400.0   614764.0  66400.000000      1
2019-01-22  66900.0  64100.0  66400.0  64500.0   997141.0  64500.000000      1
2019-01-23  65700.0  64300.0  64400.0  65200.0   587708.0  65200.000000      1
2019-01-24  65800.0  64800.0  65100.0  65200.0   620651.0  65200.000000      1
2019-01-25  69800.0  65200.0  65200.0  69500.0  1749374.0  69500.000000      1
2019-01-28  70200.0  67600.0  69600.0  67700.0   809802.0  67700.000000      1
2019-01-29  67400.0  66200.0  67400.0  67400.0   845170.0  67400.000000      1
2019-01-30  68500.0  66800.0  68000.0  67600.0   825346.0  67600.000000      1
2019-01-31  68400.0  66200.0  68100.0  66600.0   903199.0  66600.000000      1
2019-02-01  66300.0  65200.0  66300.0  65400.0  1039069.0  65400.000000      2
2019-04-05  76900.0  75100.0  75600.0  76600.0   491601.0  76600.000000      4

[509 rows x 7 columns]

In [32]:
df.groupby(df.index.year)
df

,High,Low,Open,Close,Volume,Adj Close,month,year
Date,,,,,,,,
2017-01-02,52300.0,51600.0,51800.0,51600.0,431474.0,50763.160156,1,2017
2017-01-03,54400.0,51800.0,51800.0,54300.0,1715000.0,53419.371094,1,2017
2017-01-04,54500.0,53100.0,54200.0,53800.0,1262418.0,52927.480469,1,2017
2017-01-05,55700.0,53400.0,54000.0,53600.0,1428250.0,52730.722656,1,2017
2017-01-06,54000.0,52400.0,53800.0,52600.0,1382362.0,51746.941406,1,2017
2017-01-09,53600.0,51200.0,52300.0,53600.0,1555889.0,52730.722656,1,2017
2017-01-10,53200.0,51800.0,53100.0,51800.0,956045.0,50959.914062,1,2017
2017-01-11,52300.0,51200.0,51700.0,52000.0,979211.0,51156.671875,1,2017
2017-01-12,53400.0,52100.0,52100.0,53300.0,795012.0,52435.589844,1,2017
2017-01-13,53500.0,52500.0,53100.0,52900.0,555164.0,52042.078125,1,2017
2017-01-16,53300.0,51900.0,52900.0,52800.0,681671.0,51943.699219,1,2017
2017-01-17,53000.0,52300.0,52300.0,52400.0,451998.0,51550.187500,1,2017
2017-01-18,53900.0,52500.0,52800.0,53700.0,938989.0,52829.101562,1,2017
2017-01-19,54700.0,53300.0,53700.0,54500.0,1070070.0,53616.125000,1,2017
2017-01-20,54500.0,54000.0,54400.0,54100.0,432160.0,53222.613281,1,2017
2017-01-23,54500.0,53300.0,54100.0,53400.0,345819.0,52533.968750,1,2017
2017-01-24,54200.0,53300.0,53300.0,54100.0,450680.0,53222.613281,1,2017
2017-01-25,55400.0,53500.0,54300.0,54200.0,1121403.0,53320.992188,1,2017
2017-01-26,55500.0,53200.0,55000.0,53200.0,1226161.0,52337.210938,1,2017
2017-01-31,55700.0,53400.0,53500.0,55400.0,1376669.0,54501.531250,1,2017
2017-02-01,58000.0,55800.0,55800.0,57900.0,2286272.0,56960.988281,2,2017
2017-02-02,59400.0,57300.0,58500.0,58300.0,1824780.0,57354.500000,2,2017
2017-02-03,59100.0,57400.0,58700.0,58200.0,780014.0,57256.121094,2,2017
2017-02-06,59100.0,57700.0,58800.0,58600.0,852582.0,57649.636719,2,2017
2017-02-07,59300.0,58200.0,58900.0,58800.0,754879.0,57846.390625,2,2017
2017-02-08,60400.0,58600.0,59000.0,60400.0,1795800.0,59420.441406,2,2017
2017-02-09,61900.0,60100.0,60400.0,61500.0,1352533.0,60502.601562,2,2017
2017-02-10,61900.0,61200.0,61800.0,61300.0,740823.0,60305.847656,2,2017
2017-02-13,62000.0,59600.0,61600.0,60700.0,1012067.0,59715.578125,2,2017
2017-02-14,61600.0,60600.0,61000.0,61600.0,720671.0,60600.980469,2,2017
...,...,...,...,...,...,...,...,...
2018-12-20,64500.0,61800.0,64500.0,62600.0,1670644.0,61834.093750,12,2018
2018-12-21,62900.0,61800.0,62000.0,62400.0,829833.0,61636.539062,12,2018
2018-12-24,62400.0,61200.0,62000.0,61800.0,513348.0,61043.882812,12,2018
2018-12-26,61900.0,60600.0,61000.0,61300.0,453037.0,60550.000000,12,2018
2018-12-27,63300.0,61700.0,62500.0,61900.0,562848.0,61900.000000,12,2018
2018-12-28,63500.0,62100.0,62300.0,62300.0,464747.0,62300.000000,12,2018
2019-01-02,64200.0,62700.0,63300.0,62800.0,568844.0,62800.000000,1,2019
2019-01-03,64100.0,62100.0,63100.0,62900.0,604561.0,62900.000000,1,2019
2019-01-04,63400.0,61100.0,63000.0,62200.0,602100.0,62200.000000,1,2019
2019-01-07,64700.0,62700.0,63100.0,64200.0,660173.0,64200.000000,1,2019
2019-01-08,63700.0,61200.0,63700.0,61900.0,1338626.0,61900.000000,1,2019
2019-01-09,63700.0,61600.0,61700.0,63200.0,950285.0,63200.000000,1,2019
2019-01-10,66000.0,62700.0,63100.0,65600.0,1065551.0,65600.000000,1,2019
2019-01-11,66500.0,65200.0,65700.0,66000.0,601380.0,66000.000000,1,2019
2019-01-14,66400.0,65000.0,66000.0,65900.0,401456.0,65900.000000,1,2019
2019-01-15,66500.0,65300.0,65600.0,65800.0,560337.0,65800.000000,1,2019
2019-01-16,67600.0,66000.0,66000.0,66500.0,565004.0,66500.000000,1,2019
2019-01-17,67600.0,66000.0,66800.0,66100.0,467844.0,66100.000000,1,2019
2019-01-18,67300.0,66300.0,66800.0,67000.0,488762.0,67000.000000,1,2019
2019-01-21,68100.0,65800.0,67700.0,66400.0,614764.0,66400.000000,1,2019
2019-01-22,66900.0,64100.0,66400.0,64500.0,997141.0,64500.000000,1,2019
2019-01-23,65700.0,64300.0,64400.0,65200.0,587708.0,65200.000000,1,2019
2019-01-24,65800.0,64800.0,65100.0,65200.0,620651.0,65200.000000,1,2019
2019-01-25,69800.0,65200.0,65200.0,69500.0,1749374.0,69500.000000,1,2019
2019-01-28,70200.0,67600.0,69600.0,67700.0,809802.0,67700.000000,1,2019
2019-01-29,67400.0,66200.0,67400.0,67400.0,845170.0,67400.000000,1,2019
2019-01-30,68500.0,66800.0,68000.0,67600.0,825346.0,67600.000000,1,2019
2019-01-31,68400.0,66200.0,68100.0,66600.0,903199.0,66600.000000,1,2019
2019-02-01,66300.0,65200.0,66300.0,65400.0,1039069.0,65400.000000,2,2019
2019-04-05,76900.0,75100.0,75600.0,76600.0,491601.0,76600.000000,4,2019

In [29]:
df['year'] = df.index.year

In [30]:
df

,High,Low,Open,Close,Volume,Adj Close,month,year
Date,,,,,,,,
2017-01-02,52300.0,51600.0,51800.0,51600.0,431474.0,50763.160156,1,2017
2017-01-03,54400.0,51800.0,51800.0,54300.0,1715000.0,53419.371094,1,2017
2017-01-04,54500.0,53100.0,54200.0,53800.0,1262418.0,52927.480469,1,2017
2017-01-05,55700.0,53400.0,54000.0,53600.0,1428250.0,52730.722656,1,2017
2017-01-06,54000.0,52400.0,53800.0,52600.0,1382362.0,51746.941406,1,2017
2017-01-09,53600.0,51200.0,52300.0,53600.0,1555889.0,52730.722656,1,2017
2017-01-10,53200.0,51800.0,53100.0,51800.0,956045.0,50959.914062,1,2017
2017-01-11,52300.0,51200.0,51700.0,52000.0,979211.0,51156.671875,1,2017
2017-01-12,53400.0,52100.0,52100.0,53300.0,795012.0,52435.589844,1,2017
2017-01-13,53500.0,52500.0,53100.0,52900.0,555164.0,52042.078125,1,2017
2017-01-16,53300.0,51900.0,52900.0,52800.0,681671.0,51943.699219,1,2017
2017-01-17,53000.0,52300.0,52300.0,52400.0,451998.0,51550.187500,1,2017
2017-01-18,53900.0,52500.0,52800.0,53700.0,938989.0,52829.101562,1,2017
2017-01-19,54700.0,53300.0,53700.0,54500.0,1070070.0,53616.125000,1,2017
2017-01-20,54500.0,54000.0,54400.0,54100.0,432160.0,53222.613281,1,2017
2017-01-23,54500.0,53300.0,54100.0,53400.0,345819.0,52533.968750,1,2017
2017-01-24,54200.0,53300.0,53300.0,54100.0,450680.0,53222.613281,1,2017
2017-01-25,55400.0,53500.0,54300.0,54200.0,1121403.0,53320.992188,1,2017
2017-01-26,55500.0,53200.0,55000.0,53200.0,1226161.0,52337.210938,1,2017
2017-01-31,55700.0,53400.0,53500.0,55400.0,1376669.0,54501.531250,1,2017
2017-02-01,58000.0,55800.0,55800.0,57900.0,2286272.0,56960.988281,2,2017
2017-02-02,59400.0,57300.0,58500.0,58300.0,1824780.0,57354.500000,2,2017
2017-02-03,59100.0,57400.0,58700.0,58200.0,780014.0,57256.121094,2,2017
2017-02-06,59100.0,57700.0,58800.0,58600.0,852582.0,57649.636719,2,2017
2017-02-07,59300.0,58200.0,58900.0,58800.0,754879.0,57846.390625,2,2017
2017-02-08,60400.0,58600.0,59000.0,60400.0,1795800.0,59420.441406,2,2017
2017-02-09,61900.0,60100.0,60400.0,61500.0,1352533.0,60502.601562,2,2017
2017-02-10,61900.0,61200.0,61800.0,61300.0,740823.0,60305.847656,2,2017
2017-02-13,62000.0,59600.0,61600.0,60700.0,1012067.0,59715.578125,2,2017
2017-02-14,61600.0,60600.0,61000.0,61600.0,720671.0,60600.980469,2,2017
...,...,...,...,...,...,...,...,...
2018-12-20,64500.0,61800.0,64500.0,62600.0,1670644.0,61834.093750,12,2018
2018-12-21,62900.0,61800.0,62000.0,62400.0,829833.0,61636.539062,12,2018
2018-12-24,62400.0,61200.0,62000.0,61800.0,513348.0,61043.882812,12,2018
2018-12-26,61900.0,60600.0,61000.0,61300.0,453037.0,60550.000000,12,2018
2018-12-27,63300.0,61700.0,62500.0,61900.0,562848.0,61900.000000,12,2018
2018-12-28,63500.0,62100.0,62300.0,62300.0,464747.0,62300.000000,12,2018
2019-01-02,64200.0,62700.0,63300.0,62800.0,568844.0,62800.000000,1,2019
2019-01-03,64100.0,62100.0,63100.0,62900.0,604561.0,62900.000000,1,2019
2019-01-04,63400.0,61100.0,63000.0,62200.0,602100.0,62200.000000,1,2019
2019-01-07,64700.0,62700.0,63100.0,64200.0,660173.0,64200.000000,1,2019
2019-01-08,63700.0,61200.0,63700.0,61900.0,1338626.0,61900.000000,1,2019
2019-01-09,63700.0,61600.0,61700.0,63200.0,950285.0,63200.000000,1,2019
2019-01-10,66000.0,62700.0,63100.0,65600.0,1065551.0,65600.000000,1,2019
2019-01-11,66500.0,65200.0,65700.0,66000.0,601380.0,66000.000000,1,2019
2019-01-14,66400.0,65000.0,66000.0,65900.0,401456.0,65900.000000,1,2019
2019-01-15,66500.0,65300.0,65600.0,65800.0,560337.0,65800.000000,1,2019
2019-01-16,67600.0,66000.0,66000.0,66500.0,565004.0,66500.000000,1,2019
2019-01-17,67600.0,66000.0,66800.0,66100.0,467844.0,66100.000000,1,2019
2019-01-18,67300.0,66300.0,66800.0,67000.0,488762.0,67000.000000,1,2019
2019-01-21,68100.0,65800.0,67700.0,66400.0,614764.0,66400.000000,1,2019
2019-01-22,66900.0,64100.0,66400.0,64500.0,997141.0,64500.000000,1,2019
2019-01-23,65700.0,64300.0,64400.0,65200.0,587708.0,65200.000000,1,2019
2019-01-24,65800.0,64800.0,65100.0,65200.0,620651.0,65200.000000,1,2019
2019-01-25,69800.0,65200.0,65200.0,69500.0,1749374.0,69500.000000,1,2019
2019-01-28,70200.0,67600.0,69600.0,67700.0,809802.0,67700.000000,1,2019
2019-01-29,67400.0,66200.0,67400.0,67400.0,845170.0,67400.000000,1,2019
2019-01-30,68500.0,66800.0,68000.0,67600.0,825346.0,67600.000000,1,2019
2019-01-31,68400.0,66200.0,68100.0,66600.0,903199.0,66600.000000,1,2019
2019-02-01,66300.0,65200.0,66300.0,65400.0,1039069.0,65400.000000,2,2019
2019-04-05,76900.0,75100.0,75600.0,76600.0,491601.0,76600.000000,4,2019

In [33]:
df.groupby('year').mean()

,High,Low,Open,Close,Volume,Adj Close,month
year,,,,,,,
2017,78166.390041,75941.908714,77024.896266,77031.120332,1.173864e+06,75785.361433,6.423237
2018,87758.606557,85020.491803,86477.049180,86194.262295,8.193217e+05,85145.909420,6.483607
2019,66904.166667,64966.666667,65904.166667,65925.000000,7.649478e+05,65925.000000,1.166667

In [34]:
df.groupby('month').mean()

,High,Low,Open,Close,Volume,Adj Close,year
month,,,,,,,
1,77290.625000,74628.125000,75992.187500,75937.500000,8.782447e+05,75217.312744,2018.031250
2,80084.615385,77751.282051,78997.435897,78866.666667,9.105414e+05,77798.152644,2017.512821
3,88660.465116,86218.604651,87481.395349,87546.511628,9.922015e+05,86338.855196,2017.488372
4,89630.952381,86969.047619,88473.809524,87964.285714,8.188249e+05,86777.561570,2017.547619
5,90069.230769,87712.820513,88976.923077,88758.974359,8.995074e+05,87518.232572,2017.512821
6,87290.000000,84692.500000,86105.000000,85750.000000,1.005205e+06,84523.913672,2017.475000
7,76379.069767,74067.441860,75404.651163,74888.372093,1.101152e+06,73833.465570,2017.511628
8,75527.272727,73356.818182,74393.181818,74636.363636,1.108646e+06,73575.507812,2017.500000
9,80643.243243,78343.243243,79508.108108,79232.432432,1.318110e+06,78079.803843,2017.459459
10,77962.162162,75154.054054,76313.513514,76389.189189,1.201177e+06,75297.225612,2017.567568
11,82495.454545,80300.000000,81302.272727,81368.181818,8.231271e+05,80188.193626,2017.500000
12,83786.486486,81186.486486,82443.243243,82413.513514,8.527128e+05,81277.029350,2017.513514

In [40]:
df = df.drop(['month', 'year'], axis=1)
df.groupby(df.index.day).mean()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1,79925.000000,77466.666667,78591.666667,78866.666667,1.273022e+06,77810.131510
2,81729.411765,79123.529412,80270.588235,80394.117647,9.191534e+05,79341.248621
3,79320.000000,77346.666667,78120.000000,78453.333333,8.025768e+05,77416.066146
4,81875.000000,79275.000000,81012.500000,80081.250000,8.882478e+05,79018.933350
5,84505.882353,81982.352941,82794.117647,83341.176471,8.921147e+05,82266.798483
6,80593.750000,77575.000000,79187.500000,79093.750000,1.197758e+06,77978.849121
7,80223.529412,77870.588235,79176.470588,78735.294118,1.136168e+06,77654.971737
8,84394.117647,81200.000000,83111.764706,82452.941176,1.320086e+06,81341.058134
9,84013.333333,81300.000000,81966.666667,83160.000000,1.151041e+06,82078.428125
10,78188.888889,75833.333333,77122.222222,76594.444444,1.239991e+06,75560.047743
11,80888.235294,78511.764706,79429.411765,80117.647059,1.136909e+06,79041.200368
12,84150.000000,81861.111111,82877.777778,82883.333333,9.945997e+05,81730.101780
13,81961.111111,79572.222222,80633.333333,80844.444444,9.823328e+05,79684.450738
14,82372.222222,79772.222222,81266.666667,80950.000000,1.114360e+06,79847.935981
15,86278.571429,83742.857143,85242.857143,85035.714286,9.743124e+05,83886.497489
16,82029.411765,79888.235294,81088.235294,80917.647059,7.544899e+05,79833.928309
17,78572.222222,76511.111111,77172.222222,77488.888889,7.426997e+05,76440.061632
18,82605.882353,80323.529412,81729.411765,81082.352941,8.700726e+05,79990.653493
19,85633.333333,82872.222222,83961.111111,84311.111111,1.094986e+06,83135.234158
20,81727.777778,79622.222222,80772.222222,80466.666667,8.932669e+05,79330.833550
21,81450.000000,79055.555556,80550.000000,80227.777778,8.897921e+05,79134.557509
22,84313.333333,81806.666667,83040.000000,82826.666667,8.805207e+05,81715.290885
23,84400.000000,81700.000000,83222.222222,83050.000000,8.836646e+05,81940.464844
24,79388.235294,77000.000000,78441.176471,77905.882353,8.414845e+05,76841.558364
25,81835.714286,79478.571429,80600.000000,80735.714286,8.787688e+05,79657.275949
26,84323.529412,82141.176471,83347.058824,83017.647059,7.302686e+05,81852.690257
27,83900.000000,81272.222222,82861.111111,81966.666667,1.035306e+06,80869.225477
28,81350.000000,79000.000000,80511.111111,79566.666667,9.794269e+05,78550.146267
29,83035.714286,80835.714286,81907.142857,82100.000000,8.944181e+05,81017.430525
30,85286.666667,82680.000000,83833.333333,84026.666667,1.107630e+06,82921.274219
31,78333.333333,75766.666667,77433.333333,76833.333333,1.117528e+06,75813.354492

In [41]:
df.groupby([df.index.year, df.index.month]).mean()

                    High            Low           Open          Close  \
Date Date
2017 1      54080.000000   52590.000000   53210.000000   53365.000000
     2      61450.000000   59850.000000   60750.000000   60760.000000
     3      67813.636364   65972.727273   66990.909091   67000.000000
     4      70930.000000   69255.000000   70190.000000   70020.000000
     5      80536.842105   78557.894737   79436.842105   79768.421053
     6      85895.238095   83457.142857   84790.476190   84619.047619
     7      72700.000000   70880.952381   72076.190476   71280.952381
     8      74877.272727   72759.090909   73672.727273   74159.090909
     9      86605.000000   83875.000000   85250.000000   85105.000000
     10     93443.750000   89775.000000   91187.500000   91356.250000
     11     94031.818182   91536.363636   92745.454545   92622.727273
     12    100727.777778   97477.777778   98750.000000   99172.222222
2018 1     109204.545455  104795.454545  107250.000000  106931.818182
     2     101555.555556   98338.888889   99977.777778   99733.333333
     3     110500.000000  107428.571429  108947.619048  109071.428571
     4     108047.619048  104404.761905  106500.000000  105595.238095
     5      99125.000000   96410.000000   98040.000000   97300.000000
     6      88831.578947   86057.894737   87557.894737   87000.000000
     7      79890.909091   77109.090909   78581.818182   78331.818182
     8      76177.272727   73954.545455   75113.636364   75113.636364
     9      73629.411765   71835.294118   72752.941176   72323.529412
     10     66166.666667   64014.285714   64980.952381   64985.714286
     11     70959.090909   69063.636364   69859.090909   70113.636364
     12     67736.842105   65752.631579   66994.736842   66536.842105
2019 1      66477.272727   64495.454545   65445.454545   65463.636364
     2      66300.000000   65200.000000   66300.000000   65400.000000
     4      76900.000000   75100.000000   75600.000000   76600.000000

                 Volume      Adj Close
Date Date
2017 1     9.578222e+05   52499.534766
     2     1.082006e+06   59774.603906
     3     1.266034e+06   65913.404474
     4     8.959922e+05   68884.426562
     5     1.069715e+06   78474.748766
     6     1.130798e+06   83246.707961
     7     1.257388e+06   70124.928385
     8     1.190316e+06   72956.389560
     9     1.565027e+06   83724.780078
     10    1.810992e+06   89874.647461
     11    9.809936e+05   91120.585938
     12    9.894706e+05   97610.993924
2018 1     9.192334e+05  105623.514560
     2     7.128844e+05   98513.104167
     3     7.053295e+05  107736.946429
     4     7.609143e+05  104303.288318
     5     7.378102e+05   96109.542188
     6     8.663919e+05   85935.562089
     7     9.520177e+05   77373.432884
     8     1.026975e+06   74194.626065
     9     1.027619e+06   71438.655331
     10    7.365556e+05   64190.618490
     11    6.652605e+05   69255.801314
     12    7.231527e+05   65802.747122
2019 1     7.649126e+05   65463.636364
     2     1.039069e+06   65400.000000
     4     4.916010e+05   76600.000000

In [ ]:
# pandas time series manual
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

# Alias	Description
# B	business day frequency
# C	custom business day frequency
# D	calendar day frequency
# W	weekly frequency
# M	month end frequency
# SM	semi-month end frequency (15th and end of month)
# BM	business month end frequency
# CBM	custom business month end frequency
# MS	month start frequency
# SMS	semi-month start frequency (1st and 15th)
# BMS	business month start frequency
# CBMS	custom business month start frequency
# Q	quarter end frequency
# BQ	business quarter end frequency
# QS	quarter start frequency
# BQS	business quarter start frequency
# A, Y	year end frequency
# BA, BY	business year end frequency
# AS, YS	year start frequency
# BAS, BYS	business year start frequency
# BH	business hour frequency
# H	hourly frequency
# T, min	minutely frequency
# S	secondly frequency
# L, ms	milliseconds
# U, us	microseconds
# N	nanoseconds