In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import matplotlib
# import warnings
# matplotlib.rcParams['font.family']='Malgun Gothic'
# matplotlib.rcParams['axes.unicode_minus']=False
# warnings.simplefilter('ignore')

In [3]:
df = pd.read_excel(r'hotel.xlsx', index_col=0)
df

      grade  rate  price
호텔1      10     1   9500
호텔2       8     2   8000
호텔3       6     4   6000
호텔4       9     2   8600
호텔5       7     4   7000
호텔6       8     2   8300
호텔7       5     5   5000
호텔8       5     5   5200
호텔9       8     3   8100
호텔10     10     1   9300
호텔11      9     3   8800
호텔12      7     4   7100
호텔13      8     3   8500
호텔14      5     4   5200
호텔15      5     5   3200
호텔16      6     4   6800
호텔17      7     4   7100
호텔18      8     3   8400
호텔19      5     4   2200
호텔20      5     5   4500

In [12]:
# 호텔 등급 별 가격의 합? 의미는 없음
g = df.groupby('grade')
type(g)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
# group(집계) 관련멤버함수(sum, count, max, min, mean, agg)
g['price'].sum() # 집계 가능한 모든 column (e.g., int, float)

grade
5     25300
6     12800
7     21200
8     41300
9     17400
10    18800
Name: price, dtype: int64