In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import warnings
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False
warnings.simplefilter('ignore')

In [2]:
def get_data():
    return [[10, 20], [30, 40], [50, 60], [70, 80]]

def get_data_frame():
    data = [[10, 20], [30, 40], [50, 60], [70, 80]]
    return pd.DataFrame(data)

def get_dict_list():
    return [{'kor': 10, 'eng': 20}, {'kor': 30, 'eng': 40}, 
            {'kor': 50, 'eng': 60}, {'kor': 70, 'eng': 80}]

def get_dict():
    return {"kor": [10, 30, 50, 70], "eng": [20, 40, 60, 80],
           'math': [33, 44, 55, 66]}

def get_dict_data_frame():
    return pd.DataFrame(get_dict(), index=['a', 'b', 'c', 'd'])

In [3]:
data = np.random.randint(30, 100, size = 8)
data

array([95, 47, 70, 59, 39, 77, 65, 81])

In [4]:
data = np.random.randint(30, 100, size = (4, 6))
data

array([[68, 76, 71, 33, 72, 78],
       [88, 81, 98, 43, 78, 88],
       [34, 89, 95, 71, 93, 55],
       [51, 88, 90, 76, 35, 82]])

In [5]:
df = pd.DataFrame(data)
df

    0   1   2   3   4   5
0  68  76  71  33  72  78
1  88  81  98  43  78  88
2  34  89  95  71  93  55
3  51  88  90  76  35  82

In [6]:
df.index = [[2017, 2017, 2018, 2018], ['1반', '2반', '1반', '2반']]
df

          0   1   2   3   4   5
2017 1반  68  76  71  33  72  78
     2반  88  81  98  43  78  88
2018 1반  34  89  95  71  93  55
     2반  51  88  90  76  35  82

In [7]:
df.index = pd.MultiIndex.from_product([[2017, 2018], ['1반', '2반']], names=['년도', '반'])
df

          0   1   2   3   4   5
년도   반
2017 1반  68  76  71  33  72  78
     2반  88  81  98  43  78  88
2018 1반  34  89  95  71  93  55
     2반  51  88  90  76  35  82

In [8]:
df.loc[2017].loc['1반']
df.shape

(4, 6)

In [15]:
df.columns = pd.MultiIndex.from_product([['홍길동', '이순신', '임꺽정'], ['국어', '영어']])
df

        홍길동     이순신     임꺽정
         국어  영어  국어  영어  국어  영어
년도   반
2017 1반  68  76  71  33  72  78
     2반  88  81  98  43  78  88
2018 1반  34  89  95  71  93  55
     2반  51  88  90  76  35  82

In [19]:
df['홍길동']['국어'].loc[2017].loc['1반']

68