In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10, 'bb': 20, 'cc': 30, 'dd': 40, 'ee': 50}
sr = pd.Series(data, name="kor scores")
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [3]:
data1 = {'aa':1, 'bb': 2, 'cc': 3, 'dd': 4, 'ee': 5}
sr1 = pd.Series(data1, name="kor scores")
print(sr1)
sr2 = sr / 10

aa    1
bb    2
cc    3
dd    4
ee    5
Name: kor scores, dtype: int64

In [4]:
sr.aa

10

In [5]:
sr + sr1

aa    11
bb    22
cc    33
dd    44
ee    55
Name: kor scores, dtype: int64

In [6]:
salary = pd.Series([1000, 2000, 3000, 4000, 5000])

In [7]:
taxed_salary = salary * (1.0 - 0.033)
print(taxed_salary)

0     967.0
1    1934.0
2    2901.0
3    3868.0
4    4835.0
dtype: float64

In [8]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [9]:
sr[[True, False, False, True, True]]    # boolean indexing

aa    10
dd    40
ee    50
Name: kor scores, dtype: int64

In [10]:
sr>=30

aa    False
bb    False
cc     True
dd     True
ee     True
Name: kor scores, dtype: bool

In [11]:
sr[sr>=30]

cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [12]:
sr[sr<=20]

aa    10
bb    20
Name: kor scores, dtype: int64

In [13]:
sr3 = pd.Series([True, True, False, False, False], index=['aa', 'bb', 'cc', 'dd', 'ee'])
print(sr3)

aa     True
bb     True
cc    False
dd    False
ee    False
dtype: bool

In [14]:
sr[sr3]  #질문

aa    10
bb    20
Name: kor scores, dtype: int64

In [15]:
# 논리 연산자 ( and ==> &, or ==> |, not ==> ~)
sr[sr==30]

cc    30
Name: kor scores, dtype: int64

In [16]:
sr[ (sr == 30) | (sr == 20) ]

bb    20
cc    30
Name: kor scores, dtype: int64

In [17]:
sr[ (sr >= 30) & (sr <= 40) ]

cc    30
dd    40
Name: kor scores, dtype: int64

In [18]:
sr[ ~(sr == 30) ]

aa    10
bb    20
dd    40
ee    50
Name: kor scores, dtype: int64

In [19]:
sr.isin([10, 30])

aa     True
bb    False
cc     True
dd    False
ee    False
Name: kor scores, dtype: bool

In [20]:
sr[sr.isin([10, 30])]

aa    10
cc    30
Name: kor scores, dtype: int64

In [21]:
sr[~sr.isin([10, 30])]

bb    20
dd    40
ee    50
Name: kor scores, dtype: int64

In [22]:
print(sr[sr.index.isin(['aa', 'dd'])])

aa    10
dd    40
Name: kor scores, dtype: int64

In [23]:

sr['ff'] = np.nan
sr

aa    10.0
bb    20.0
cc    30.0
dd    40.0
ee    50.0
ff     NaN
Name: kor scores, dtype: float64

In [24]:
sr.isna()

aa    False
bb    False
cc    False
dd    False
ee    False
ff     True
Name: kor scores, dtype: bool

In [25]:
sr[~sr.isna()]

aa    10.0
bb    20.0
cc    30.0
dd    40.0
ee    50.0
Name: kor scores, dtype: float64

In [26]:
sr[sr.isna()]

ff   NaN
Name: kor scores, dtype: float64