In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10, 'bb': 20, 'cc': 30, 'dd': 40, 'ee': 50}
sr = pd.Series(data, name="kor scores")
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [3]:
sr[0]

10

In [4]:
sr[-1]

50

In [5]:
sr['aa']

10

In [6]:
sr['ee']

50

In [8]:
sr[0:3:1]

aa    10
bb    20
cc    30
Name: kor scores, dtype: int64

In [9]:
sr[0:3:2]

aa    10
cc    30
Name: kor scores, dtype: int64

In [11]:
sr['aa':'cc']  #'cc'가 포함되어 slicing 됨을 주의

aa    10
bb    20
cc    30
Name: kor scores, dtype: int64

In [12]:
sr[1:]

bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [14]:
sr['bb':]

bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [15]:
sr[[0,3]]

aa    10
dd    40
Name: kor scores, dtype: int64

In [17]:
sr[[0,1,3,4]]

aa    10
bb    20
dd    40
ee    50
Name: kor scores, dtype: int64

In [19]:
sr[['aa', 'dd']]

aa    10
dd    40
Name: kor scores, dtype: int64

In [21]:
sr.loc['aa']

10

In [23]:
# sr.loc[0]  # cannot use zero-based index

In [25]:
sr.iloc[0]  # integer-based location only

10

In [26]:
sr.iloc[0:3]

aa    10
bb    20
cc    30
Name: kor scores, dtype: int64

In [27]:
sr.loc['aa':'cc']

aa    10
bb    20
cc    30
Name: kor scores, dtype: int64

In [28]:
sr[0:3]

aa    10
bb    20
cc    30
Name: kor scores, dtype: int64

In [30]:
sr[[2,3]]

cc    30
dd    40
Name: kor scores, dtype: int64

In [33]:
sr.index = [2, 3, 4, 5, 6]
sr

2    10
3    20
4    30
5    40
6    50
Name: kor scores, dtype: int64

In [35]:
sr[2]

10

In [36]:
sr.iloc[2]

30

In [37]:
sr.loc[2]

10