In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10, 'bb': 20, 'cc': 30, 'dd': 40, 'ee': 50}
sr = pd.Series(data, name="kor scores")
print(sr)

aa    10
bb    20
cc    30
dd    40
ee    50
Name: kor scores, dtype: int64

In [3]:
sr[0] = 100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: kor scores, dtype: int64

In [4]:
sr[1:4] = sr[1:4] + 2
sr

aa    100
bb     22
cc     32
dd     42
ee     50
Name: kor scores, dtype: int64

In [5]:
sr[[1, 3]] = 2
sr

aa    100
bb      2
cc     32
dd      2
ee     50
Name: kor scores, dtype: int64

In [6]:
sr[[1, 3]] = sr[[1, 3]] + 2
sr

aa    100
bb      4
cc     32
dd      4
ee     50
Name: kor scores, dtype: int64

In [7]:
sr[sr>=30] = 2
sr

aa    2
bb    4
cc    2
dd    4
ee    2
Name: kor scores, dtype: int64

In [8]:
sr[['aa', 'bb']] = sr[['aa', 'bb']] * 20
sr

aa    40
bb    80
cc     2
dd     4
ee     2
Name: kor scores, dtype: int64

In [9]:
sr['ff'] = 60

In [10]:
sr

aa    40
bb    80
cc     2
dd     4
ee     2
ff    60
Name: kor scores, dtype: int64

In [11]:
dt = pd.Series([1, 2, 3], index = ['gg', 'hh', 'ii'])
sr = sr.append(dt)
sr

aa    40
bb    80
cc     2
dd     4
ee     2
ff    60
gg     1
hh     2
ii     3
dtype: int64

In [12]:
sr = sr[sr>10]
sr

aa    40
bb    80
ff    60
dtype: int64

In [13]:
sr

aa    40
bb    80
ff    60
dtype: int64

In [14]:
#del(sr[ ['aa'] ])
del(sr[ 'aa' ])
sr

bb    80
ff    60
dtype: int64

In [15]:
sr = sr.drop('bb')
print(sr)

ff    60
dtype: int64

In [16]:
sr['aa'] = 100
print(sr)

ff     60
aa    100
dtype: int64

In [18]:
sr.drop('aa', inplace=True)
print(sr)

ff    60
dtype: int64

In [27]:
def init():    
    data = {'aa':110, 'bb': 14, 'cc': 43, 'dd': 22, 'ee': 53}
    sr = pd.Series(data, name="kor scores")
    return sr

In [28]:
sr = init()
sr.drop(['cc', 'ee'], inplace=True)
print(sr)

aa    110
bb     14
dd     22
Name: kor scores, dtype: int64

In [30]:
sr = init()
sr.sort_values(ascending=False)

aa    110
ee     53
cc     43
dd     22
bb     14
Name: kor scores, dtype: int64

In [31]:
print(sr)

aa    110
bb     14
cc     43
dd     22
ee     53
Name: kor scores, dtype: int64