In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40,'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [3]:
sr[0]

10

In [4]:
sr[-1]

50

In [5]:
sr['aa']

10

In [6]:
sr['ee']

50

In [7]:
sr[0:3:1] #0,1,2

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [8]:
sr[0:3:2]#0,2

aa    10
cc    30
Name: 국어점수, dtype: int64

In [9]:
sr['aa':'cc']

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [11]:
# sr[1:]
sr['bb':]

bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [12]:
sr[ [0,1,4] ]

aa    10
bb    20
ee    50
Name: 국어점수, dtype: int64

In [13]:
sr[[0,3]]

aa    10
dd    40
Name: 국어점수, dtype: int64

In [14]:
sr[['aa','dd']]

aa    10
dd    40
Name: 국어점수, dtype: int64

In [15]:
sr.loc['aa'] #부여된 인덱스... sr['aa']
# sr.loc[0] #X

10

In [18]:
sr.loc['aa':'cc'] #sr['aa':'cc']

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [19]:
sr.iloc[0] #0 base index
# sr.iloc['aa'] X

10

In [20]:
sr.iloc[0:3] # sr[0:3]

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [21]:
sr.index =[2,3,4,5,6]
sr

2    10
3    20
4    30
5    40
6    50
Name: 국어점수, dtype: int64

In [22]:
sr[2] #부여된인덱스...

10

In [24]:
#sr[-1]#부여된인덱스..

In [25]:
sr.iloc[0]

10

In [26]:
sr.loc[2]

10