In [1]:
import pandas as pd
import numpy as np

In [ ]:
#정수,실수  ==> 관계, 논리
#데이터 문자열 ==> 정규식

In [13]:
sr = pd.Series(['apple','kiei','banna','application','napt'])
sr.index=['ab','cd','ef','gh','ij']
sr

ab          apple
cd           kiei
ef          banna
gh    application
ij           napt
dtype: object

In [10]:
sr[ sr.str.contains('ap') ] # 문자열 검색...

ab          apple
gh    application
ij           napt
dtype: object

In [16]:
sr[ sr.str.contains('[ew]i') ] #ei, wi

cd    kiei
dtype: object

In [17]:
sr[ sr.str.contains('[a-z]i') ]

cd           kiei
gh    application
dtype: object

In [19]:
sr[ sr.str.contains('^ap') ] #ap 로시작

ab          apple
gh    application
dtype: object

In [20]:
sr[ sr.str.contains('on$') ]

gh    application
dtype: object

In [21]:
sr[ sr.str.contains('on$|na$') ]

ef          banna
gh    application
dtype: object

In [22]:
sr2 = pd.Series( ['김철수','이순신','이이',
                  '이황', '김이', '박김이'])
sr2

0    김철수
1    이순신
2     이이
3     이황
4     김이
5    박김이
dtype: object

In [23]:
sr2[ sr2.str.contains('김') ]

0    김철수
4     김이
5    박김이
dtype: object

In [24]:
sr2[ sr2.str.contains('^김') ]

0    김철수
4     김이
dtype: object

In [25]:
sr2[ sr2.str.contains('[김이]이') ]

2     이이
4     김이
5    박김이
dtype: object

In [26]:
sr2[ sr2.str.contains('[가-힣]이') ]

2     이이
4     김이
5    박김이
dtype: object

In [31]:
sr[ sr.index.str.contains('a') ]

ab    apple
dtype: object

In [43]:
sr.str.len()

ab     5
cd     4
ef     5
gh    11
ij     4
dtype: int64

In [47]:
# sr=sr.str.replace('ap','test')
sr.str.replace('^ap','hello')

ab          hellople
cd              kiei
ef             banna
gh    helloplication
ij              napt
dtype: object

In [50]:
# sr.str.get(1)
sr.str.slice(1,3) #1<=s <3  1,2

ab    pp
cd    ie
ef    an
gh    pp
ij    ap
dtype: object