In [1]:
import pandas as pd
import numpy as np

In [33]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [49]:
data = {'aa':10,'bb':20,'cc':30,'dd':40,'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [4]:
#추가,수정,삭제,검색, 정렬
sr[0] =100
# sr['aa'] = 100
# sr.loc['aa'] = 100
# sr.iloc[0] =100
sr

aa    100
bb     20
cc     30
dd     40
ee     50
Name: 국어점수, dtype: int64

In [6]:
sr[1:4] = 2
sr

aa    100
bb      2
cc      2
dd      2
ee     50
Name: 국어점수, dtype: int64

In [9]:
sr[1:4]= sr[1:4]+2
sr

aa    10
bb    22
cc    32
dd    42
ee    50
Name: 국어점수, dtype: int64

In [14]:
# sr[[1,3]] =2
sr[[1,3]] =sr[[1,3]]+2
sr

aa    10
bb     4
cc    30
dd     4
ee    50
Name: 국어점수, dtype: int64

In [21]:
sr[sr>=30] = sr[sr>=30]+ 2
sr

aa    10
bb    20
cc    32
dd    42
ee    52
Name: 국어점수, dtype: int64

In [ ]:
# 추가

In [24]:
sr['ff'] =60
sr

aa    10
bb    20
cc    30
dd    40
ee    50
ff    60
Name: 국어점수, dtype: int64

In [27]:
dt = pd.Series([1,2,3], index=['gg','hh','ii'])
sr = sr.append( dt )
sr

aa    10
bb    20
cc    30
dd    40
ee    50
ff    60
gg     1
hh     2
ii     3
dtype: int64

In [29]:
sr = sr[sr!=20] 
# sr =sr[ ~((sr==20) | (sr==30))]
#sr = sr[ ~sr.isin([20,30]) ]
sr

aa    10
cc    30
dd    40
ee    50
ff    60
gg     1
hh     2
ii     3
dtype: int64

In [34]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [41]:
del( sr['aa'])
sr

bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [46]:
sr.drop( 'aa', inplace=True) #index

In [47]:
sr

bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [48]:
sr.drop( ['cc','ee'], inplace=True)
sr

bb    20
dd    40
Name: 국어점수, dtype: int64

In [51]:
sr.sort_values(ascending=False)

ee    50
dd    40
cc    30
bb    20
aa    10
Name: 국어점수, dtype: int64

In [53]:
sr.sort_index(ascending=False)

ee    50
dd    40
cc    30
bb    20
aa    10
Name: 국어점수, dtype: int64