In [7]:
import pandas as pd
import numpy as np

In [8]:
data = {'aa':10,'bb':20,'cc':30,'dd':40,'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [9]:
data1 = {'aa':1,'bb':2,'cc':3,'dd':4,'ee':5}
sr1 = pd.Series(data1)
sr1

aa    1
bb    2
cc    3
dd    4
ee    5
dtype: int64

In [10]:
sr.aa #sr['aa']

10

In [11]:
sr+1 #산술,관계,논리

aa    11
bb    21
cc    31
dd    41
ee    51
Name: 국어점수, dtype: int64

In [12]:
sr*2

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [13]:
sr+sr1

aa    11
bb    22
cc    33
dd    44
ee    55
dtype: int64

In [14]:
salary = [1000,2000,3000,4000]
[n*(1-0.033) for n in salary]

[967.0, 1934.0, 2901.0, 3868.0]

In [15]:
#문제 세금3.3을 제한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [16]:
sr[ [True,False,False,True,True] ] #boolean indexing..

aa    10
dd    40
ee    50
Name: 국어점수, dtype: int64

In [17]:
sr>=30

aa    False
bb    False
cc     True
dd     True
ee     True
Name: 국어점수, dtype: bool

In [19]:
sr[ sr>=30 ]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [20]:
sr[ sr<=20 ]

aa    10
bb    20
Name: 국어점수, dtype: int64

In [51]:
#논리연산자( and ==> &, or ==> |, not ==> ~)
sr[ sr==30 ]

cc    30
Name: 국어점수, dtype: int64

In [54]:
sr.isin([10 ])

aa     True
bb    False
cc    False
dd    False
ee    False
Name: 국어점수, dtype: bool

In [55]:
sr.index.isin(["aa", "dd"])

array([ True, False, False,  True, False])